@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  /* font-family: 'Quicksand', sans-serif !important; */
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  background-image: url('../public/bg002.png');
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  transform:scaleY(-1);
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.profile-body {
  /* min-height: 100vh;
  background-image: url('../public/bg002.png'); */
  background-image: url('../public/bg002.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #f4f6fa;
  min-height: 100vh;
  /* display: flex; */
  /* 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.card {
  height: 80vh;
  background: rgba(255, 255, 255, 0.5)
}

/* .card-body {
  max-width: 50rem;
} */

div.ex1 {
  width: 50rem;
  margin: auto;
  border: 3px solid #73AD21;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
